<a href="https://colab.research.google.com/github/Snehabl18/LB_DSC_PY_AUG_WKND_09082020/blob/master/float_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Declare a float value and store it in a variable. 
a=2.5




#Check the type and print the id of the same.
print(type(a))
print(id(a))

<class 'float'>
140584307666832

In [3]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
a=4.2
b=2.2
#Do below operations on them:-
    #Find sum of both numbers
print(a+b)
    #Find differce between them
print(a-b)
    #Find the product of both numbers.
print(a*b)
    #Find value after dividing first num with second number
print(a//b)
    #Find the remainder after dividing first number with second number
print(a%b)
    #Find the quotient after dividing first number with second number
print(a/b)
    #Find the result of first num to the power of second number.
print(pow(b,a))

6.4
2.0
9.240000000000002
1.0
2.0
1.909090909090909
27.426807569150395

In [4]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.
a=4.5
b=2.2
#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
print(bool(a>b))

        #Smaller than, '<'
print(bool(a<b))

        #Greater than or equal to, '>='
print(bool(a>=b))

        #Less than or equal to, '<='
print(bool(a<=b))

#Observe their output(return type should be boolean)

True
False
True
False

In [5]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.
a=4.5
b=2.5
#Equuate them using equality operator (==, !=)
print(bool(a==b))
print(bool(a!=b))
#Observe the output(return type should be boolean)

False
True

In [6]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [8]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

False
True

In [9]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.
a=10.5
b=10.5
print(id(a))
print(id(b))

140584153526040
140584153526064

In [10]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

True
True
True
True
True
True